@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.forgetPasswordInput {
  background-color: #f5f6f8;
  display: block;
  border-radius: 4px;
  padding-block: 0.7rem;
  margin-top: 1rem;
  border: unset;
  padding-inline: 1rem;
}
.forgetPasswordInput:focus {
  outline: unset;
}
.forgetPasswordInput::placeholder {
  color: #d3d6dc;
}
.formLinks {
  color: unset;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif !important;
}

.css-ku7d13-MuiTypography-root {
  font-family: "Poppins", sans-serif !important;
}

:root {
  --toastify-color-success: #3252df !important;
  --toastify-icon-color-success: var(--toastify-color-success) !important;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hiddenMenu {
  display: none;
}

.MuiTableCell-root.MuiTableCell-body.MuiTableCell-sizeMedium {
  color: #3a3a3d !important;
  font-family: "Poppins" !important;
  padding-block: 4px !important;
}

.ps-menu-button:hover {
  background-color: rgba(26, 27, 30, 0.17) !important;
}

@media (max-width: 992px) {
  .changePassword {
    display: none !important;
  }
}


@media (max-width:600px){
  .favoriteImage {
    height: 100px;
  }
}

.slider-container {
  height: 300px;
  overflow: hidden;
}

.slick-next {
  display: none !important;
}

.slick-dots {
  position: relative !important;
}
.language-toggle {
  display: flex;
  gap: 10px;
}

.language-toggle-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
  height: 50px;
  border: 2px solid #ccc;
  border-radius: 25px;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-size: 16px;
  font-weight: bold;
  padding: 0 15px;
}

.language-toggle-btn.EN {
  border-color: #007bff;
  background-color: #e7f3ff;
}

.language-toggle-btn.FR {
  border-color: #d9534f;
  background-color: #ffe7e7;
}

.language-toggle-btn span {
  margin-right: 10px;
}

.flag {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.egypt-flag {
  background: url(https://upload.wikimedia.org/wikipedia/commons/f/fe/Flag_of_Egypt.svg);
  background-size: cover;
  background-size: 100% 100%;

}

.english-flag {
  background: url(https://upload.wikimedia.org/wikipedia/commons/a/a4/Flag_of_the_United_States.svg);
  background-size: cover;
}
